body{
    margin: 0;
    padding: 0;
    padding-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #fbfbfb;
background-image: url("/PRUEBAQUIZ/img/bienvenida.jpeg");
}

.estilos{
    font-size: 30px;
    color: #9a9258;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.estilos :hover{
    color: #000000;
}
.estilos2 {
    font-size: 30px;
    color: #9a9258;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 20px;
    width: 200px;
    height: fit-content;
    outline: none;
    border: none;
    background-color: #9a9258;
    border-radius: 48px;
  }
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ecdd6b;
    transform-origin: center left;
    transform: scaleX(0);
    border-radius: 73px;
    transition: transform 0.55s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:hover::before {
    transform-origin: center right;
    transform: scaleX(1);
  }
  