body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; 
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* Agrega espacio en la parte superior del título */
}

.titulo h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 33px;
  color: rgb(29, 64, 204);
}
#videoFondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; 
}

/* Estilos para el contenedor */
.cajon {
  position: relative; 
  z-index: 1;
  max-width: 450px;
  margin: 0 auto; 
}


.caja {
  background: linear-gradient(to bottom, rgb(67, 105, 175), rgb(0, 0, 0));
  border-radius: 33px;
  padding: 30px;
}


.caja__inicio img {
  max-width: 100%; 
  border-radius: 33px;
  height: auto; 
  display: block;
  margin: 0 auto 20px; 
}
/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

/* Estilos para el input de texto */
input[type="text"] {
  padding: 10px;
  width: 300px;
  outline: none;
  border-radius: 20px;
  margin-bottom: 10px; 
}

/* Estilos para el botón */
button[type="submit"] {
  width: 170px;
  height: 40px;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsla(236, 32%, 26%, 0);
  margin-bottom: 20px; 
}

/* Estilos para el texto dentro del botón */
button[type="submit"] .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(70deg,  rgb(55, 116, 222), #f9f2f4, rgb(34, 102, 219));
  border-radius: 20px;
  padding: 10px;
}

button[type="submit"]:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%, 100% {
      transform: scale(1, 1);
  }
  25% {
      transform: scale(0.9, 1.1);
  }
  50% {
      transform: scale(1.1, 0.9);
  }
  75% {
      transform: scale(0.95, 1.05);
  }
}
