body {
  margin: 0;
  padding: 0;
  padding-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: #95E6EE;
  background-image: url("/PRUEBAQUIZ/img/background.gif");
  background-attachment: fixed;
  background-size: cover;
}

.colocar{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to bottom, rgba(48, 42, 42, 0.808), rgba(0, 0, 0, 0.767));
  width: fit-content;
  padding: 50px;
  margin-top: 8%;
  border-radius: 33px;
  border: solid 4px #8ef0db;
}

.caja p{
  color: #8ef0db;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
input[type="radio"] {
  -webkit-appearance: none; /* Eliminar la apariencia predeterminada del navegador */
  -moz-appearance: none;
  appearance: none;
  width: 20px; /* Ancho del botón de radio */
  height: 20px; /* Altura del botón de radio */
  border: 2px solid#cecece; /* Grosor y color del borde */
  border-radius: 3px; /* Radio de borde para hacerlo cuadrado */
  margin-right: 5px; /* Espacio entre los botones de radio */
}

/* Estilo para los botones de radio seleccionados */
input[type="radio"]:checked {
  background-color:#8ef0db; /* Cambiar el color de fondo cuando está seleccionado */
}
.ed{
  color: #cecece;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(0, 0%, 35%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  border-radius: 25px;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #8ef0db;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
