body{
    width: 100%;
    height: 100%;
    background-image: url(/PRUEBAQUIZ/img/resultado.gif);
    margin: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.audio-player {
    position: fixed;
    bottom: 10px;
    left: 10%;
    transform: translateX(-50%);
}

.circulo img {
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
    object-fit: cover; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding-top: 150px;
}

/* Estilos para el texto */
.texto {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    font-size: 30px;
    font-weight: bold;
    color: rgb(192, 152, 20);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
}
.circulo {
    position: absolute;
    top: 25%; 
    right: 40%; 
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 5px solid rgb(192, 152, 20); 
}
