#videoFondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
}
.texto {
    display: flex;
    align-items: center;
    text-align: cen ter;
    flex-direction: column-reverse;
    font-size: 30px;
    font-weight: bold;
    color: rgb(33, 106, 190);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(33, 106, 190); 
}
.tabla {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px; 
}

.tabla th, .tabla td {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}
